/* MTM1544 Week 3 */

/* setting the box-sizing property to border-box for all elements */
* {
    box-sizing: border-box;
}

/* paragraph classes: intro, ridge, summit-top, summit-bottom */
/* box model properties */

.ridge {
    color: #fff;
    background-color: #473c2c;
    border: 4px solid goldenrod;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    line-height: 150%;
}

#summit-top{
    margin-bottom: 20px;
    line-height: 150%;
}

#summit-bottom{
    margin-top: 40px;
    line-height: 150%;
}

#mountain-image{
    aspect-ratio: 16/9;
    width: 100%;
    margin-top: 20px;
}

/* changing the background colour to eggshell */
body{
    background-color: #EEE2DF
}
/* changing paragraph text color to white, making the line height 2px tall */
p{
    color:#303030; 
}
/* changing all headings text color to dark brown */
h1, h2{
    color: #493B2A
}
/* changing the text color of the intro paragraph and the font size */
.intro{
    color: #593F62; 
    font-size:16px;
}
/* changing the text color of the summit climb heading and the font size */
#summit{
    color:goldenrod; 
    font-size:24px;
}
/* changing h1 text color to green */
h1{
    color:#91A550
}

/* colour & typography */
/* setting the font family for the entire page */
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
}

/* features Google Font Kalnia Glaze */
h1{
    font-family: 'Kalnia Glaze', Georgia, serif;
    font-size: 3.5rem;
    line-height: 1.15;
    text-wrap: balance;
}

h2{
    font-size: 1.75rem;
    line-height: 1.3;
    text-wrap: balance;
}

/* color palette made with hsl(101 48% 37%) */
:root {
    --color-37: hsl(101 48% 37%);
    --color-57: hsl(101 48% 57%);
    --color-77: hsl(101 48% 77%);
    --color-97: hsl(101 48% 97%);
    /* color palette made with oklh 4d8b31 */
    /* oklch is a much more natural progression than hsl; each step looks more evenly spaced and visually pleasing */
    --color-o90: oklch(0.9749 0.1393 137.32);
    --color-o70: oklch(0.7749 0.1393 137.32);
    --color-o50: oklch(0.5749 0.1393 137.32);
    --color-o30: oklch(0.3749 0.1393 137.32);
}


